[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True

[gcode_macro save_zoffset]
description: Save current Z homing origin as persistent z_offset
gcode:
  {% set z = printer.gcode_move.homing_origin.z|float %}
  SAVE_VARIABLE VARIABLE=z_offset VALUE={z}
  RESPOND TYPE=command MSG="Stored z_offset = {z|round(3)}"

[gcode_macro set_zoffset]
description: Load saved z_offset and apply as G-code offset
gcode:
  {% set z = printer.save_variables.variables.z_offset|default(0.0)|float %}
  SET_GCODE_OFFSET Z={z} MOVE=1
  RESPOND TYPE=command MSG="Applied z_offset = {z|round(3)}"


[gcode_macro M106]
gcode:
    {% set p = params.P|default(0)|int %}

    {% if p == 2 %}
    {% if params.S is defined %}
        SET_FAN_SPEED FAN=auxiliary_cooling_fan SPEED={(params.S|float / 255.0)}
    {% else %}
        SET_FAN_SPEED FAN=auxiliary_cooling_fan SPEED=1
    {% endif %}
    {% endif %} 

    {% if p == 0 %}
    {% if params.S is defined %}
        SET_FAN_SPEED FAN=part_fan SPEED={(params.S|float / 255.0)}
        
    {% else %}
        SET_FAN_SPEED FAN=part_fan SPEED=1
    {% endif %}
    {% endif %} 

    {% if p == 3 %}
    {% if params.S is defined %}
        SET_FAN_SPEED FAN=chamber_circulation_fan SPEED={(params.S|float / 255.0)}
    {% else %}
        SET_FAN_SPEED FAN=chamber_circulation_fan SPEED=1
    {% endif %}
    {% endif %} 

    #{% if p == 4 %}
    #    {% if params.S is defined %}
    #        SET_PIN PIN=Polar_cooler VALUE={1 if (params.S|int / 255) > 0 else 0}
    #    {% else %}
    #        SET_PIN PIN=Polar_cooler VALUE=1
    #    {% endif %}
    #{% endif %}

[gcode_macro BEEP]
gcode:
    {% set i = params.I|default(1)|int %}
    {% set dur = params.DUR|default(100)|int %}
    {% set beep = printer.save_variables.variables.beep|default(0) %}

    {% if beep == 1 %}
        {% for iteration in range(i|int) %}
            SET_PIN PIN=beeper VALUE=1
            G4 P{dur}
            SET_PIN PIN=beeper VALUE=0
    		G4 P{dur}
        {% endfor %}
    {% endif %}

[gcode_macro beep_on]
gcode:
    SAVE_VARIABLE VARIABLE=beep VALUE=1

[gcode_macro beep_off]
gcode:
    SAVE_VARIABLE VARIABLE=beep VALUE=0

[gcode_macro LED_ON]
gcode:
    SET_PIN PIN=caselight VALUE=1

[gcode_macro LED_OFF]
gcode:
    SET_PIN PIN=caselight VALUE=0